/*Estils del formulari*/
form{
  border: 1px solid black;
  width: 60%; /* 2 valors: 1(adalt-abaix, dreta-esquerra)*/
  padding: 20px;
  margin:30px auto; /* Marge per centrar el form*/
}
/*Mides elements del form*/
input, textarea, button {
  width: 100%;
}
textarea {
  resize: none;
  height: 150px;
}
button{
  background-color: pink;
  padding: 8px;
  border: 0px;
}
