body{
  font-family: 'Chilanka', cursive;
  }
/*CAPÇALERA*/
/*SELECTORES CSS */
/*Selector de etiqueta (directament amb
el nom de l'etiqueta del HTML)*/
header{ /*selector css*/
  height: 120px; /*Nom de la propietat : valor propietat*/
  /* background-color: #ebffff; */
  border-bottom: 1px solid black;
  /*Posicionament elements del Header*/
  /*Display flex*/
  display: flex;
  justify-content: space-between;
  align-items: center;/*Apliquem padding (marge interior)*/
  padding: 30px;
}
a{
  text-decoration: none; /*Treu el subratllat*/
}
a:hover{
  text-decoration: underline;
  color: black;
}
/*Efectes de butons*/
/*fI CAPÇALERA*/
/*Selector per ID amb el símbol #*/
#logo{
  widh: 50px;
  height: 50px;
}
/*INICI CONTINGUT PRINCIPAL*/
main{
  text-align: center;
  margin: 50px;
}
/*Fomrm de SignIN-OU*/
form{
  width: 25%;
}
  input, button {
  width: 100%;
  margin: 10px;
  }
  button{
    background-color: pink;
    padding: 8px;
    border: 0px;
  }
#contenidor_index{
  display: flex;
  justify-content: space-around;
}
footer{
  text-align: center;
  color: black;
  /*background-color: #403a3a;*/
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 30px;
}
